// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

figure {
  border: 2px yellow solid;
  margin: auto;
}

figcaption {
  background-color: yellow;
  color: black;
  font-style: italic;
  padding: 2px;
  text-align: block;
}

.dummieAbb {display:none;}
