// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

figure {
  border: 2px rgb(246,248,250) solid;
  margin: auto;
}

figcaption {
  background-color: rgb(246,248,250);
  color: rgb(88,88,88);
  font-style: normal;
  padding: 2px;
  text-align: block;
}

.dummieChapter_0 {display:none;}
.dummieChapter_1 {display:none;}
.dummieChapter_2 {display:none;}
.dummieChapter_3 {display:none;}
.dummieChapter_4 {display:none;}
.dummieChapter_5 {display:none;}
.dummieChapter_6 {display:none;}
.dummieChapter_7 {display:none;}
.dummieChapter_8 {display:none;}
.dummieChapter_9 {display:none;}
.dummieChapter_10 {display:none;}
.dummieChapter_11 {display:none;}
.dummieChapter_12 {display:none;}
.dummieChapter_13 {display:none;}
.dummieChapter_14 {display:none;}
.dummieChapter_15 {display:none;}
